 <!-- Begin Page Content -->
 <div class="container-fluid">
  <h1>Create Course</h1>
  <form action="/staff/add_course" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        name="name"
      >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" class="form-control" id="exampleInputPassword1"
        name="description"
      >
    </div>

    <div class="mb-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Course category</label>
        <select class="form-control" id="exampleFormControlSelect1" name="courseCategoryId">
          <% courseCategories.forEach(function(courseCategory) { %>
            <option value="<%= courseCategory.id %>"><%= courseCategory.name %></option>
          <% }); %>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
<!-- /.container-fluid -->
