 <!-- Begin Page Content -->
 <div class="container-fluid">
  <h1>Assign Trainee into Course</h1>
  <form action="/staff/add_traineeCourse" method="POST">

    <div class="mb-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Trainees</label>
        <select class="form-control" id="exampleFormControlSelect1" name="traineeId">
          <% trainees.forEach(function(trainee) { %>
            <option value="<%= trainee.id %>"><%= trainee.username %></option>
          <% }); %>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Courses</label>
        <select class="form-control" id="exampleFormControlSelect1" name="courseId">
          <% courses.forEach(function(course) { %>
            <option value="<%= course.id %>"><%= course.name %></option>
          <% }); %>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
<!-- /.container-fluid -->
